# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable rename-current-file': 'rename-current-file:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'rename-current-file'
      'submenu': [
        { 'label': 'Toggle', 'command': 'rename-current-file:toggle' }
      ]
    ]
  }
]
